[Desktop Entry]
Type=Application
Name=notebooks
Comment=IPython Notebooks for Machine Learning Tutorial
Comment[de]=IPython Notebooks fuer das Machine Learning Tutorial
Exec=ipython notebook
Terminal=true
Icon=ipython
Path=%k
